@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    background-color: black;
    overflow: hidden;
  }
  .triangle {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid rgba(0, 0, 0, 0.8); /* Neon border color */
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8))
            drop-shadow(0 0 20px rgba(0, 0, 0, 0.6))
            drop-shadow(0 0 30px rgba(0, 0, 0, 0.4)); /* Glowing shadow */
    animation: float 10s ease-in-out infinite;
    animation: rotate  ease-in-out infinite;
  }
  @keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg) ;
    }
  }
  @keyframes float {
    0%,
    100% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(200px);
    }
  }
  